body {
    display: flex;
    justify-content: center;
    background-color: #baa3ff;
}

#container {
    display: flex;
    flex-direction: column;
    width: 25rem;
    height: 30rem;
    justify-content: center;
    align-items: center;
    flex: 1;
}

#window {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 8rem;
    width: 23rem;
    background-color: white;
    font-size: 3.5rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    color: rgb(94, 0, 148);
    border-radius: 20px;
    margin: 0.5rem;
    outline: 0.35rem solid rgb(0, 0, 73);
}

#displaytext {
    margin: 0rem 0.8rem;
}

.row {
    display: flex;
    justify-content: center;
}

.number {
    background-color: white;
    width: 5rem;
    height: 5rem;
    color: rgb(94, 0, 148);
}

.number, .function {
    font-size: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
}

.number, .function {
    border-radius: 20px;
    margin: 0.5rem;
    outline: 0.35rem solid rgb(0, 0, 73);
}

.function {
    background-color: rgb(94, 0, 148);
    width: 5rem;
    height: 5rem;
    color: white;
}

